<app-common-header [title]="'Profile'"></app-common-header>
<ion-content class="wrapper">

  <div class="profileImg ion-margin-vertical">
    <ion-avatar>
      <img [src]="'../../../assets/logo/logo.png'"/>
    </ion-avatar>
  </div>
  <div class="profileImgContainer">
    <ion-list>
      <ion-item color="none"  lines="none" >
        <ion-label>8777528909</ion-label>
      </ion-item>
      <ion-item color="none"  lines="none">
        <ion-label>Suman Mitra</ion-label>
      </ion-item>
      <ion-item color="none"  lines="none">
        <ion-label>sumanmitra0096@gmail.com</ion-label>
      </ion-item>
      <ion-item color="none"  lines="none">
        <ion-label>
          <h4>Privacy Policy</h4>
          <h4>Terms & Conditions</h4>
        </ion-label>
        <ion-label slot="end">
          0.0.1
        </ion-label>
      </ion-item>
      <!-- <ion-item color="none"  lines="none">
        <ion-label>
            Log Out
        </ion-label>
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="logout()">
            <ion-icon slot="icon-only" name="power-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

      </ion-item> -->
    </ion-list>
   <app-common-fab-btn [vl]="'bottom'" [hl]="'end'"></app-common-fab-btn>

  </div>
</ion-content>
