<app-common-header [title]="'Profile'"></app-common-header>
<ion-content>
  <div class="mainPanelWrapper">
    <div class="logInCardHeader">
        <img src="../../../assets/Images/defaultUser.png"/>
    </div>
    <ion-list>
      <ion-item color="none"  lines="none" >
        <ion-icon name="call-outline" class="ion-padding"></ion-icon>
        <ion-label>{{userDT?.user_id}}</ion-label>
      </ion-item>
      <ion-item color="none" class="ion-margin-vertical"  lines="none">
        <ion-icon name="person-outline"  class="ion-padding"></ion-icon>
        <ion-label>{{userDT?.name}}</ion-label>
      </ion-item>
      <ion-item color="none"  lines="none">
        <ion-icon name="mail-outline"  class="ion-padding"></ion-icon>
        <ion-label>{{userDT?.email_id}}</ion-label>
      </ion-item>
      <ion-item color="none"  lines="none">
        <ion-label  class="ion-padding">
          <h4>Privacy Policy</h4>
          <h4>Terms & Conditions</h4>
        </ion-label>
        <ion-label slot="end">
          0.0.1
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<app-common-fab-btn [vl]="'center'" [hl]="'end'"></app-common-fab-btn>

