<ion-header  class="ion-border">
  <ion-toolbar *ngIf="isShowsearchbar">
    <ion-avatar slot="start">
      <img src="../../../assets/logo/logo.png" alt='ARDB LOGO'/>
    </ion-avatar>
    <ion-buttons slot="end" >
      <ion-button *ngIf="routeId === 4" (click)="isShowsearchbar=!isShowsearchbar">
        <ion-icon name="search-outline" slot="icon-only"></ion-icon>
      </ion-button>
        <ion-button (click)="loggedOut()">
          <ion-icon name="power-outline" slot="icon-only"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="!isShowsearchbar && routeId === 4" >
    <ion-buttons slot="start">
      <ion-button  (click)="back()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-searchbar
     #autofocus
     placeholder="Search"
     inputmode="text"
     type="text"
     [searchIcon]="false"
     (ionChange)="changeInput($event)"
     animated="true"
     [debounce]="250" ></ion-searchbar>
  </ion-toolbar>
</ion-header>
